body {
    margin: 0px;
    padding: 0px;
}

#headerContainer
{
    background-color: #3b5998;
    background-image: linear-gradient(#4e69a2, #3b5998 50%);
    border-bottom: 1px solid #133783;
    height: 82px;
    line-height: 82px;
    z-index: 1;
}

.containerInner
{
    width: 970px;
    height: 620px;
    margin : auto;
}

.headerContainerInner
{
    width: 970px;
    height: 82px;
    margin: auto;
}

.headerText
{
    display: inline-block;
    font-size: 20px;
}

.title
{
    margin: 0px;
    padding: 0px;
    color: white;
}

.title > a
{
    color: white;
    text-decoration: none;
}

#container 
{
    height: 570px;
    margin: 0;
    outline: none;
    padding: 20px 0px 20px 0px;
    width: auto;   
    background-color: #e9ebee;
}

 .menuLoginContainer
{
    float: right;
    margin-top: 15px;
} 

.headerInput > tbody > tr
{
    line-height: 1;
}

.headerInput > tbody > tr > td >input
{
    font-size: 12px;
}

.headerInputText
{
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    padding-left: 1px;
    text-align: left;
    /* align-items: flex-start; */
    z-index: 1;
}

.headerLoginBox
{
    border: 1px solid #1d2a5b;
    background-color: #f0f3ff;
    margin: 3px 10px 0px 0px;
    padding: 0px;
    width: 142px;
    height: 20px;
}

.headerLoginButton
{
    color: white;
    background-color: #4267b2;
    border: 1px solid #53586b;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin: 0px 0px 0px 4px;
    padding: 0;
    width: 45px;
    height: 20px;
}

.loginEmptyField > a
{
    color: #9cb4d8;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
}

.loginExplanation
{
    font-size: 19px;
    line-height: 126%;
    margin: 0px 0px 20px 0px;
}

.loginEmptyField
{
    width: 45px;
    height: 10px;
}

.loginRecordText
{
    margin: 0px;
    font-size: 36px;
}

.profileBox
{
    margin: 0px;
    padding: 0px;
}

.profileContainer
{
    display: inline-block;
    width: 400px;
    height: 500px;
}

#profileBoxTop:hover
{
    box-shadow: 0px 2px 2px 2px rgba(211, 211, 211, 0.541);
}

.profileBoxBottomName:hover
{
    box-shadow: 0px 2px 2px 2px rgba(211, 211, 211, 0.541);
}

.profileBoxBottomAccount:hover
{
    box-shadow: 0px 2px 2px 2px rgba(211, 211, 211, 0.541);
}

#profileBoxTop
{
    align-items: center;
    background-color: #f5f6f7;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 160px;
    width: 160px; 
}

.profileBoxBottomName
{
    display: inline-block;
    width: 160px;
    height: 17px;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 12px 0;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    color: #4b4f56;
    cursor: pointer;
}

.profileBoxBottomAccount
{
    display: inline-block;
    width: 160px;
    height: 17px;
    color: #385898;
    cursor: pointer;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 12px 0;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;   
}

.newAccountContainer
{
    float: right;
    width: 400px;
    height: 500px;
}

#birthBox
{
    font-size: 13px;
    height: 30px;
    padding: 2px;
    border: 1px solid #ccd0d5;
}

.birthSelectBox > span
{
    border-width: 1px;
    display: inline-block;
    padding: 5px 0 5px 4px;
}

.joinContainer
{
    width: 440px;
    height: 448px;
}

.NameInputBox
{
    border: 1px solid rgba(168, 168, 168, 0.589);
    background-color: white;
    border-radius: 5px;
    width: 194px;
    height: 38.8px;
    line-height: 5;
    font-size: 18px;
    padding-left: 5px;
}

.NameInputBoxContainer
{
    margin-bottom: 10px;
}

.phoneNumInputBox
{
    border: 1px solid rgba(168, 168, 168, 0.589);
    background: white;
    border-radius: 5px;
    width: 399px;
    height: 38.8px;
    margin-bottom: 10px;
    font-size: 18px;
    padding-left: 5px;
}

.newPwInputBox
{
    border: 1px solid rgba(168, 168, 168, 0.589);
    margin-bottom: 8px;
    background: white;
    border-radius: 5px;
    width: 399px;
    height: 38.8px;
    font-size: 18px;
    padding-left: 5px;
}

.selectTitle
{
    color: #90949c;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
}

.joinExplanation
{
    color: #777;
    font-size: 11px;
    width:320px;
}

.joinButton
{
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    min-width: 194px;
    padding: 7px 20px;
    text-align: center;
    width: 152px;
    height: 42px;
    color: white;
    position: relative;
    font-size: 19px;
    line-height: 126%;
    border: 1px solid;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
}

#footer
{
    margin: 0 auto;
    width: 980px;
    display: block;
    background-color: #fff;
    margin: 0 auto;
    width: 100%;
    height: 160px;
}

ul
{
    list-style: none;
     margin: 0px;
    padding: 0px; 
}

.langSelect
{
    width: 980px;
    align-items: center;
    margin: 0 auto;
    padding-top : 30px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.langSelect > li > a
{
    padding-left : 16px;
    font-size: 12px;
    text-decoration: none;
    color: rgb(54, 54, 248);
}

.footerLine
{
    border-bottom: 1px solid #dddfe2;
    font-size: 1px;
    height: 8px;
    margin-bottom: 8px;
    width: 980px;
    margin: auto;
}

.settingsOption
{

    width: 980px;
    align-items: center;
    margin: 0 auto;
    padding-top : 3px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.settingsOption > li > a
{
    color: rgb(54, 54, 248);
    padding-left : 16px;
    font-size: 12px;
    text-decoration: none;
}

.langMoreButton
{
    padding : 0px;
    border: 1px solid rgb(192, 192, 192);
    background-color: rgba(255, 255, 255, 0.644);
    border-radius: 3px;
    width: 30px;
    height: 22px;
    margin-left: 10px;
}

.langMoreButton > a
{
    text-decoration: none;    
    font-size: 20px;
}